<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/common.js"></script>
</head>
<body>
    <div class="container banner" >
        <h1 class="logo">Pro-Sales</h1>
    </div>
    <div class="container body-content">
            <div class="row container1">
                <div class="col-md-3 menu-content">
                    <div class="menu-wraper clear noprint">
                        <div id="cssmenu" style="padding-right: 0px; outline: medium none; overflow: hidden; min-height: inherit;">
                            <ul>
                                <li class="menuItems">
                                    <a href="/SalesTransaction/GetProducts"><span>Products</span></a>
                                </li>
                                <li class="menuItems">
                                    <a href="/Customer"><span>Customers</span></a>
                                </li>
                                <li class="menuItems">
                                    <a href="/SalesTransaction/Sales"><span>Sales Transaction</span></a>
                                </li>
                                <li class="menuItems">
                                    <a href="/Invoice"><span>Invoice</span></a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="content-center col-md-9">@RenderBody()</div>
            </div>
        <div class="clearfix"></div>
        <hr />
        <div class="row">
            <div class="clearfix"></div>
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>
    </div>
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    Some text in the modal.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
